#roll {
	width: 100%;
	height: 236px;
	position: relative;;
	overflow: hidden;
}
#roll.left {
    position: absolute;
    left: 0;
    width: 18px;
    height: 236px;
    background: #222 url(left.png) center no-repeat;
    text-indent: -99px;
    z-index: 10px;
}
#roll.right {
    position: absolute;
    right: 0;
    width: 18px;
    height: 236px;
    background: #222 url(right.png) center no-repeat;
    text-indent: -999px;
    z-index: 10px;
}