/*
 * Globals
 */
h4 {
  font-family: "STFangsong";
  font-size:200%;
  background: linear-gradient(to right, red, blue);
        -webkit-background-clip: text;
        color: transparent;
}
p.note{
   font-size:120%;
   font-family: "KaiTi";
}
p.more {
  font-size:110%;
  background: linear-gradient(to right, red, blue);
        -webkit-background-clip: text;
        color: transparent;
}

p.lead{
  font-family: "Microsoft YaHei";
  font-size:150%;
}
#a1{
  font-size:110%;
}
input.game{
  font-size:105%;
}
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

img.game{
  text-align: center;
}
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

body {
  height: 100%;
  color: #fff;
  display: -ms-flexbox;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);

background-image:url(images/002.jpg); 
background-size: cover;
background-repeat: no-repeat;
background-attachment:fixed;
padding: 0;
margin: 0;
width:100%;
height:100%;
min-width: 1024px;
min-height: 600px;
}

/*body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}*/

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
*{
            margin:0;
            padding:0;
        }

        .box-wrapper{
            cursor: pointer;
            position: relative;
            width: 300px;
            height: 0px;
            margin: 10px auto;
            border-radius: 5px;
            background: #9400D3;
            overflow: hidden;
            -webkit-transition:all 1.8s ease;
            transition:all 1.8s ease;
        }
        .gradient{
            cursor: pointer;
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            transform: skew(-25deg);
            -o-transform:skew(-25deg);
            -moz-transform:skew(-25deg);
            -webkit-transform:skew(-25deg);
            background-image: -webkit-linear-gradient(0deg,hsla(0,0%,100%,0),hsla(0,0%,100%,0.5),hsla(0,0%,100%,0));
            -webkit-transition:all 1.8s ease;
            transition:all 1.8s ease;
        }
        .box-wrapper:hover{
            transform: translateY(-6px);
            -webkit-transform: translateY(-6px);
            -moz-transform:translateY(-6px);
            box-shadow: 0 26px 40px -24px rgba(148,0,211,.5);
            -webkit-box-shadow: 0 26px 40px -24px rgba(148,0,211,.5);
            -moz-box-shadow:0 26px 40px -24px rgba(148,0,211,.5);
        }
        .box-wrapper:hover .gradient{
            left: 100%;
        }